<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="IJ1HXfaHOLiF8FNUqDzCKnoRQjC9WJ-zrK2WRWwAIjM">
	<meta name="verify-v1" content="sw784fkOXsuYmq4AzJHP0/d7mhGMUMvUDNkhywHmNHU="> 
	<meta http-equiv="Content-Language" content="it">
	<meta name="author" content="posta@iciottoliromani.it">
	<meta name="description" content="produzione di marmi anticati, cornici, rosoni, mosaici, decori, materiali rustici e arredo giardino">
	<meta name="keywords" content="ciottoli, marmo, marmi, mosaico, palladiana, anticato, anticati, rosoni, cornici, greche, ciottolo, travertino, pavimenti, rivestimenti, arredo, giardino, rustico, rustici, scampoli, occasioni, marmi antichi, marmi anticati">
	{% block head %}{% endblock %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/index.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZZE6FQE09W"></script>
			<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
		  	gtag('config', 'G-ZZE6FQE09W');
		</script>
</head>
<body>

    {% block nav %}{% endblock %}
	

	<div class="corpo">
		<h1 id="ciottoliH1">I CIOTTOLI ROMANI</h1> 

		<p><b><i>Produzione e vendita di intarsi, mosaici, marmi anticati, rosoni, greche</i></b>
		</p>

		<p style="text-align: center; margin-top: 20px; font-size:15px">
			Benvenuto nel nostro sito, usa il menù in alto per navigare tra le varie pagine. Qui sotto trovi una piccola presentazione dei nostri prodotti e 4 link alle pagine principali, tutto il resto è raggiungibile da menù. Ogni pagina ha in fondo un collegamento per la pagina successiva in modo da avere una sorta di visita guidata al nostro sito. Per qualsiasi informazione non esitare a <a href="contatti.html">contattarci</a> anche se festivo o fuori orario 
		</p>






<p style="text-align: center; margin-top: 30px; font-size:15px"> <i> <b>
			seguici su facebook per essere sempre aggiornato su offerte e novità  
		</b> </i> 
</p>


		<!-- <img src="http://iciottoliromani.it/immagini/varie/Dsc02452.jpg"> -->
		<!-- <a href="#" id="pop"> -->
		<!--   <img id="imageresource" src="http://iciottoliromani.it/immagini/varie/Dsc02452.jpg" style="width: 400px; height: 264px;"> -->
		<!-- </a> -->

		<!-- Creates the bootstrap modal where the image will appear -->
		<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header pt-1 pb-1">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <!-- <h4 class="modal-title" id="myModalLabel">Image preview</h4> -->
		      </div>
		      <div class="modal-body">
		        <img src="" id="imagepreview" style="width: 400px; height: 264px;" >
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div> -->
		    </div>
		  </div>
		</div>
		
			

			<div class="fb-page" data-href="https://www.facebook.com/iciottoliromani" data-tabs="" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/iciottoliromani" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/iciottoliromani">I Ciottoli Romani - marmi anticati</a></blockquote>
			</div>

			



		<p style="font-family:verdana; font-size:11px; margin-top:25px;">Il contenuto di tutto questo sito (foto, testi, video) è di proprietà esclusiva di I Ciottoli Romani. È severamente vietata la diffusione, stampa o utilizzo di qualsiasi parte di questo sito senza previa autorizzazione scritta. Ogni abuso sarà perseguito legalmente.</p>
	


	<div>
		<a type="button" class="btn btn-secondary btn-lg" style="margin-top: 20px;" href="intarsi.html" role="button">Clicca per la pagina seguente: intarsi</a>
	</div>
</div>	<!-- /corpo -->

    {% block footer %}{% endblock %}

	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="static/js/script.js"></script>

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v6.0"></script>

	 <!-- <a href='https://www.symptoma.it/'>www.Symptoma.it</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=89d118463cee50936c2d017f3bb91208c1848835'></script>
	<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/649666/t/0"></script> -->

	<!-- Inizio Codice ShinyStat -->
	<script type="text/javascript" src="//codice.shinystat.com/cgi-bin/getcod.cgi?USER=iciottoliromani"></script>
	<noscript>
	<a href="http://www.shinystat.com/it/" target="_top">
	<img src="//www.shinystat.com/cgi-bin/shinystat.cgi?USER=iciottoliromani" alt="Statistiche gratis" style="border:0px" /></a>
	</noscript>
	<!-- Fine Codice ShinyStat -->

	<!-- <script src="script.js"></script> -->

	
</body>
</html>