<div id="cookiesAlert" class="alert alert-dark alert-dismissable fixed-bottom fade show" role="alert" style="margin-right: 20%; margin-left: 20%; text-align: center; background-color: rgba(52, 58, 64, 0.8); color: white; text-shadow: 2px 2px 2px black;">
	Questo sito usa i cookies per darti una migliore esperienza nella navigazione. Continuando accetti la nostra <a href="cookiespage.html">Cookies Policy</a>
	<button onclick="addCookie()" type="button" class="close" style="color: white;" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<!-- <p>TEST</p>