<p class="corpo" style="text-align: center; margin-bottom: 5px;">I Ciottoli Romani S.n.c.   -- produzione marmi anticati --<br>laboratorio e vendita: via Righi, 17 Monterotondo  tel 335 6601841 - 335 6696621<br>P. IVA 05935731009</p>


<p class="corpo" style="text-align: center; margin-bottom: 5px;">Ultimo aggiornamento 15/02/2021</p>


<!-- Inizio Codice Shinystat -->
<script type="text/javascript" language="JavaScript" SRC="http://codice.shinystat.com/cgi-bin/getcod.cgi?USER=iciottoliromani"></script>
<noscript>
<A HREF="http://www.shinystat.com/it" target="_top">
<IMG SRC="http://www.shinystat.com/cgi-bin/shinystat.cgi?USER=iciottoliromani" ALT="Contatore visite gratuito" BORDER="0"></A>
</noscript>
<!-- Fine Codice Shinystat -->
